body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circular
{
    position: absolute;
    top:50%;
    left:50%;
    height:140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    & .inner
    {
        width: 120px;
        height: 120px;
        z-index: 100;
        background: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        font-weight: 600;
    }
        & .bar
    {
        position: absolute;
        width: 140px;
        height: 140px;
        top:0%;
        left: 0%; 
        background-color: black;
        border-radius: 100%;
        transform: rotate(14deg);//use it for rotate progress bar
        clip:rect(0px,150px,170px,45px);
        //clip"rect(top,right,bottom,left);
    }
    
}